<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Cards</title>
        <link rel="stylesheet" href="../styles.css">
    </head>
    <body>
        <main>
            <section class="blog-post">
                <h2>Year 1 Gallery</h2>
                <div class="gallery">
                    <div class="is-card">
                        <img class="is-wide" src="../img/year1img1.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-square" src="../img/year1img2.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-wide" src="../img/year1img3.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-wide" src="../img/year1img4.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-square" src="../img/year1img5.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-wide" src="../img/year1img6.JPG" alt="">
                    </div>
                </div>
            </section>    
            <section class="blog-post">
                <h2>Year 2 Gallery</h2>
                <div class="gallery">
                    <div class="is-card">
                        <img class="is-wide" src="../img/year2img1.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-wide" src="../img/year2img2.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-wide" src="../img/year2img3.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-wide" src="../img/year2img4.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-wide" src="../img/year2img5.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-wide" src="../img/year2img6.JPG" alt="">
                    </div>
                </div>
            </section>    
            <section class="blog-post">
                <h2>Year 3 Gallery</h2>
                <div class="gallery">
                    <div class="is-card">
                        <img class="is-tall" src="../img/year3img1.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-wide" src="../img/year3img2.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-wide" src="../img/year3img3.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-wide" src="../img/year3img4.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-wide" src="../img/year3img5.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-square" src="../img/year3img6.JPG" alt="">
                    </div>
                </div>
            </section>    
            <section class="blog-post">
                <h2>Year 4 Gallery</h2>
                <div class="gallery">
                    <div class="is-card">
                        <img class="is-wide" src="../img/year4img1.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-wide" src="../img/year4img2.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-wide" src="../img/year4img3.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-wide" src="../img/year4img4.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-wide" src="../img/year4img5.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-wide" src="../img/year4img6.JPG" alt="">
                    </div>
                </div>
            </section>    
            <section class="blog-post">
                <h2>Year 5 Gallery</h2>
                <div class="gallery">
                    <div class="is-card">
                        <img class="is-tall" src="../img/year5img1.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-square" src="../img/year5img2.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-wide" src="../img/year5img3.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-wide" src="../img/year5img4.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-wide" src="../img/year5img5.JPG" alt="">
                    </div>
                    <div class="is-card">
                        <img class="is-tall" src="../img/year5img6.JPG" alt="">
                    </div>
                </div>
            </section>    
        </main>
    </body>
</html>