<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Headers</title>
        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles.css">
    </head>
    <body>
        <header>
            <h2>Contributors</h2>
            <nav>
                <a class="has-border" href="">Home</a>
                <a class="has-border" href="">Overview</a>
                <a class="has-border" href="">Contributors</a>
            </nav>
        </header>

        <footer>
            <h2>The End.</h2>
            <nav>
                <a href=""><img src="../img/Facebook.svg" alt=""></a>
                <a href=""><img src="../img/Instagram.svg" alt=""></a>
                <a href=""><img src="../img/TwitterVector.svg" alt=""></a>
            </nav>
        </footer>

    </body>
</html>