<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Heros</title>
        <link rel="stylesheet" href="../styles.css">
    </head>
    <body>
        <header class="hero year1 high-center is-centered">
            <h2>Year 1</h2>
        </header>

        <p>THis is s space</p>
        
        <header class="hero year2 high-center is-centered">
            <h2>Year 2</h2>
        </header>

        <p>THis is s space</p>
        
        <header class="hero year3 is-centered">
            <h2>Year 3</h2>
        </header>

        <p>THis is s space</p>
        
        <header class="hero year4 high-center is-centered">
            <h2>Year 4</h2>
        </header>

        <p>THis is s space</p>
        
        <header class="hero year5 high-center">
            <h2 class="is-centered">Year 5</h2>
        </header>

        <p>THis is s space</p>
        
        <header class="hero main-hero">
            <h2 class="long-title">The Boys: QMBB Family</h2>
        </header>

        <p>THis is s space</p>
    </body>
</html>