<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Mains</title>
        <link rel="stylesheet" href="../styles.css">
    </head>
    <body>
        <main>
            <section class="blog-post">
                <h2>Overview</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quisquam quas alias maiores dicta nihil totam quis veniam laborum, labore sed excepturi doloribus temporibus voluptate ipsum earum? Debitis, unde voluptas?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam esse ipsum eaque quas saepe sunt perferendis architecto. Consequuntur beatae nihil veritatis! Fugit explicabo aliquam officia in laboriosam fuga culpa blanditiis?
                </p>
            </section>

            <header class="hero year3">
                <h2>Year 3</h2>
            </header>

            <section class="blog-post">
                <h2>The Year I played... LOL</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae eius harum sint ab voluptates, nisi quia ex quos maiores, laudantium praesentium commodi officia cum laboriosam sed, sunt voluptatibus architecto culpa!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dignissimos deleniti aliquid ipsam necessitatibus maxime nulla excepturi. Neque sunt ut iusto hic molestias. Illum rerum, nisi quibusdam explicabo similique minima!
                </p>
            </section>

            <section class="blog-post">
                <img class="headshot is-centered" src="../img/year4img6.JPG" alt="">
                <h2 class="image-label">Ross</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, neque. Corporis, natus. Eaque natus doloribus labore itaque sed! Eius nihil, sequi optio numquam delectus debitis neque. Beatae laboriosam quos soluta!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio omnis rerum dicta cumque unde tempore commodi corrupti, alias natus. Nemo enim ipsum, a quae dolorem numquam quisquam facere ratione asperiores.
                </p>
            </section>
        </main>

    </body>
</html>